:root {
  --yazmak-editor-background: #282828;
  --yazmak-editor-text-color: #fbf1c7;
  --yazmak-active-color: #fabd2f;
  --yazmak-font-sans: "Inter", sans-serif;
  --yazmak-font-mono: "JetBrains Mono", monospace;

  --yazmak-base-font-size: 1rem;

  --yazmak-heading-1-font-size: 2.5rem;
  --yazmak-heading-2-font-size: 2rem;
  --yazmak-heading-3-font-size: 1.75rem;
  --yazmak-heading-4-font-size: 1.5rem;
  --yazmak-heading-5-font-size: 1.25rem;
  --yazmak-heading-6-font-size: 1rem;

  --yazmak-status-line-height: 18px;
  --yazmak-base-padding: 0.5rem;
  --yazmak-ui-background-color: #665c54;
  --yazmak-ui-text-color: #bdae93;
  --yazmak-base-line-height: 1.5;
}

#yazmak-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--yazmak-editor-background);
  font-family: var(--yazmak-font-sans);
  font-size: var(--yazmak-heading-4-font-size);
  white-space: pre-wrap; /* Preserve whitespace */
}
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}

#yazmak-editor-content {
  display: grid;
  grid-template-columns: minmax(30px, auto) 1fr;
  grid-auto-rows: auto;
}

.yazmak-line {
  display: contents;
}

.yazmak-line:focus-within .yazmak-line-content,
.yazmak-line:focus-within .yazmak-line-number {
  background-color: var(--yazmak-ui-background-color);
  color: var(--yazmak-active-color);
}

.yazmak-line-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--yazmak-base-font-size);
  background-color: var(--yazmak-ui-background-color);
  padding: 0 4px;
}

.yazmak-line-content {
  height: var(--yazmak-base-line-height);
  position: relative;
  font-size: var(--yazmak-base-font-size);
  outline: none;
  line-height: var(--yazmak-base-line-height);
  padding-left: var(--yazmak-base-padding);
  white-space: pre-wrap; /* Preserve whitespace */
}

.status-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: var(--yazmak-font-mono);
  background-color: var(--yazmak-ui-background-color);
  color: var(--yazmak-ui-text-color);
  font-size: var(--yazmak-status-line-height);
  padding-left: var(--yazmak-base-padding);
}

#yazmak-vim-cursor {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 0.6em; /* Width of one character in monospace font */
  height: 1.2em; /* Height of one line */
  display: none; /* Initially hidden, will be shown with JS */
  pointer-events: none; /* Allow clicking through the cursor */
  z-index: 1;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
