@import url("./themes/default-gruvbox.css");
/* @import url("./themes/one-light-atom.css"); */

#yazmak-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--yazmak-editor-background);
  color: var(--yazmak-editor-text-color);
  font-family: var(--yazmak-font-mono);
  font-size: var(--yazmak-heading-4-font-size);
  white-space: pre-wrap; /* Preserve whitespace */
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}

#yazmak-editor-content {
  display: grid;
  grid-template-columns: [ln-col] minmax(0, auto) [content-col] 1fr;
  grid-auto-rows: auto;
  overflow: auto;
}

/* When line numbers are present, ensure minimum width */
#yazmak-editor-content:has(.yazmak-line-number) {
  grid-template-columns: [ln-col] minmax(30px, auto) [content-col] 1fr;
}

.yazmak-line {
  display: contents;
}

.yazmak-line:focus-within .yazmak-line-content,
.yazmak-line:focus-within .yazmak-line-number {
  background-color: var(--yazmak-ui-background-color);
  color: var(--yazmak-active-color);
}

.yazmak-line-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--yazmak-base-font-size);
  background-color: var(--yazmak-ui-background-color);
  padding: 0 4px;
  grid-column: ln-col;
}

.yazmak-line-content {
  height: var(--yazmak-base-line-height);
  position: relative;
  font-size: var(--yazmak-base-font-size);
  outline: none;
  line-height: var(--yazmak-base-line-height);
  padding-left: var(--yazmak-base-padding);
  white-space: pre-wrap; /* Preserve whitespace */
  cursor: text;
  grid-column: content-col;
}

.status-line {
  width: 100%;
  font-family: var(--yazmak-font-mono);
  background-color: var(--yazmak-ui-background-color);
  color: var(--yazmak-ui-text-color);
  font-size: var(--yazmak-status-line-height);
}
.status-line span {
  padding-left: var(--yazmak-base-padding);
}

#yazmak-vim-cursor {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 0.6em; /* Width of one character in monospace font */
  height: 1.2em; /* Height of one line */
  display: none; /* Initially hidden, will be shown with JS */
  pointer-events: none; /* Allow clicking through the cursor */
  z-index: 1;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
